# Data Science Tools and Ecosystem

## Author
Christoph

In this notebook, Data Science Tools and Ecosystem are summarized.

***Objectives:***
- Popular languages for Data Science
- Commonly used libraries in Data Science
- Data Science Tools

Some of the popular languages that Data Scientists use are:
1. Python
2. R/R-Studio
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib

| Data Science Tools |
| -------------|
| Relational databases like MySQL |
| GitHub |
| Elasticsearch |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335